.question {
     font-size: 25px;
     padding-top: 60px;
     padding-bottom: 15px;
     font-weight: bold;
}
.answer {
     padding: 10px;
}
.resetBtn {
     margin: 20px;
     margin-bottom: 50px;
     font-size: 20px;
     color: white;
     background-color: black;
     width: 100px;
}
.submitBtn {
     margin: 20px;
     margin-bottom: 50px;
     font-size: 20px;
     color: white;
     background-color: black;
     width: 100px;
}
.score {
     margin: 50px;
     color: red;
     font-size: 100px;
}
